.carousel-container {
    overflow: hidden;
    position: relative;
}

.carousel-image-wrapper {
    left: 0;
    position: relative;
    transition: 1s;
}

.carousel-image-wrapper::after {
    clear: both;
    content: "";
    display: table;
}

.carousel-image-wrapper > * {
    float: left;
}