.about {
  color: $blue-bayoux;
  padding: 120px 0;

  @include e(heading) {
    @extend %heading;

    @include m(secondary) {
      font-size: 26px;
      text-align: left;
    }
  }

  @include e(description) {
    @extend %heading-description;
  }

  @include e(icon) {
    color: $caribbean-green;
    float: left;
    font-size: 32px;

    @include mq(xl) {
      font-size: 40px;
    }
  }

  @include e(content-wrapper) {
    float: right;
    line-height: 1.5em;
    width: 80%;
  }

  @include e(col) {
    margin-bottom: 30px;

    @include mq(md) {
      margin-bottom: 0;
    }
  }
}
