.carousel {
  text-align: center;

  @include e(col) {
    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      display: none;
    }

    @include mq(sm) {
      &:nth-child(2) {
        display: block;
      }
    }

    @include mq(md){
      &:nth-child(3), &:nth-child(4) {
        display: block;
      }
    }
  }

  @include e(buttons) {
    text-align: center;
    margin-top: 40px;
  }

  @include e(button) {
    background-color: $blue-bayoux;
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    margin-right: 12px;
    width: 16px;

    &:last-child {
      margin-right: 0;
    }

    @include m(active) {
      background-color: $caribbean-green;
    }
  }
}