.nav {
  display: inline-block;
  
  font-weight: bold;
  text-transform: uppercase;

  @include mq(md) {
    font-size: 14px;
  }

  @include mq(lg) {
    font-size: 15px;
  }

  @include e(item) {

    @include mq(sm) {
      float: left;
    }
    
  }

  @include e(link) {
    display: block;
    padding: 8px;
    @include mq(lg) {
      padding: 8px 16px;
    }
    
  }
}
