.nav {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 88px;
    text-transform: uppercase;

    @include e(item) {
        float: left;
    }

    @include e(link) {
        display: block;
        padding: 8px 20px;
    }
}