.container {
    margin: 0 auto;
    width: 83.5714%;
}

.header {
    background-color: #fafafa;
}

.main-wrapper {
    width: 100%; /* 1400px */
}

/* Top features */
.col {
    width: 100%;
    float: left;
}

/* Why choose Us? */
.why-choose-us .row {
    
}

.why-choose-us .col {
    float: left;
    width: 100%;
}

@media (min-width: 768px) {    
    .col {
        width: 33.33%;
    }
    /* Why choose Us? */
    .why-choose-us .col {
        float: left;
        width: 50%;
    }

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }    
}