@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

img {
    max-width: 100%;
    vertical-align: top;
}

/* Header */

.hamburger {
    float: right;
    font-size: 10px;
    margin-top: 10px;
}

.hamburger button {
    padding: 5px 10px;
}

.logo {
    float: left;
    margin: 10px 0 12px 0;
}

.logo img {
    max-width: 80%;
}

.nav {
    clear: left;
    display: none;
    margin-top: 10px;
}

.nav li {
    line-height: 71.4%;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.nav li:last-child {
    margin-right: 0;
}

.nav li a {
    display: block;
    padding: 17px 0 10px 0;
    text-decoration: none;
}

.nav li a:hover {
    border-bottom: 3px solid #b6b6b6;
}


.nav li a.active {
    border-bottom: 3px solid #3baafe;
}

.nav li a:link, .nav li a:visited, .nav li a:focus {
    color: inherit;
}

/* Main Slider */

.btn {
    background-color: #555;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 72.2%;
    padding: 11px 16.5px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #fafafa;
    color: #777;
}

.main-slider {
    background-color: #7a7878;
}

.main-slider li {
    list-style-type: none;
}

.slider-content {
    float: right;
    margin: 35.1246% 0 32.6966% 0;
}

.slider-content .shades {
    color: #e6e6e6;
}

.slider-content .life {
    color: #3baafe;
}

.slider-content p {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 70.8%;
    margin-bottom: 13px;
    text-align: right;
    text-transform: uppercase;
}

.slider-content p:last-child {
    margin-bottom: 10.5px;
}

.slider-content-buttons {
    float: right;
}

.slider-content-buttons .btn:first-child {
    margin-right: 10px;
}

/* Media Quries  */

@media(min-width: 768px){

    .hamburger {
        display: none;
    }

    .nav {
        clear: none;
        display: block;
        margin-top: 10px;
        float: right;
    }
    .nav li {
        float: left;
        margin-right: 12px;
        text-align: center;
    }
    
    .nav li:last-child {
        margin-right: 0;
    }

    /* Main Slider  */
    .btn {
        font-size: 14px;
        line-height: 72.2%;
        padding: 22px 33px;
    }

    .slider-content p {
        font-size: 32px;
        line-height: 70.8%;
        margin-bottom: 26px;
    }
    
    .slider-content p:last-child {
        margin-bottom: 21px;
    }

    .slider-content-buttons .btn:first-child {
        margin-right: 20px;
    }
        
}

@media(min-width: 992px) {
    
    .logo img {
        max-width: 100%;
    }
        
    .nav li {
        margin-right: 36px;
    }

    /* Main Slider  */
    .btn {
        font-size: 18px;
        line-height: 72.2%;
        padding: 22px 33px;
    }
    
    .slider-content {
        margin: 217px 0 202px 0;
    }
        
    .slider-content p {
        font-size: 48px;
        line-height: 70.8%;
        margin-bottom: 26px;
    }
    

}